html 
{
    height: 95%;
}
body 
{
    background-position: center;
    background-image: linear-gradient(to right, #164A41, #4D774E);
    line-height: 1;
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');
body 
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 89;
    background-image: url('static/img/marble.jpg');
    font-family: 'Work Sans', sans-serif;
    background: #111;
    text-align: center;
    height: 95%;
    margin: 0;
}

main
{
    background-color: #9DC88D;
    color: #E8E8E8;
    overflow-x: auto;
    text-align: center;
}

main 
{
    background: inherit;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

.extraspace
{
    min-height: 3cm;
}

img 
{
    height: 100%;
    width: 100%;
    position: relative;
}

.banner 
{
    position: relative;
    top: 0%;
    width: 100%;
}

.bannerheader 
{
    position: absolute;
    top: 65%;
    left: 15%;
    color: #e4e4e4; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.card-text
{
    text-align: left;
    color: #e7e7e7;
    font-weight: bolder;
    font-variant: small-caps;
}

.wrapperbutton {
    position: ce;
    width: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;
}

.wrappersignin {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

.placeorderbtn {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-bottom: 0;
    padding-right: 0;
}

.wrappersignup {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 15px;
    padding-right: 15px;
}

.button {
    user-select: none;
    display: inline-block;
    border: 0.2em solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    color: #ffffff;
    box-sizing: content-box;
}

*, ::after, ::before
{
    box-sizing: content-box;
}

.button__text {
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.button__text:before {
    content: attr(title);
}

.button__text--bis {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-1em);
    opacity: 0;
}

.button__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}
.button:hover {
    opacity: 1;
}

.button:hover .button__text {
    animation: fx-text 0.3s ease-out;
}

.button:hover .button__text--bis {
    animation: fx-text-bis 0.3s ease-out;
}

.button:hover .button__mask {
    animation: fx-mask 0.3s ease-out;
}

.button:active {
    opacity: 1;
    background: white;
    color: inherit;
}

@keyframes fx-mask {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

@keyframes fx-text {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(1em);
        opacity: 0;
    }
}

@keyframes fx-text-bis {
    0% {
        transform: translateX(-1em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.text {
    color: #a0a0a0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}