{% extends "layout.html" %}

{% block title %}
    Mentor listings
{% endblock %}

{% block extra %}
    <h1 class="text" style="padding-top: 10px;">Here are some recommendations</h1><br>
    <p class="text">Your chosen field: {{ area }}</p>
    <div class="wrappersignup" style="width: 200px;">
        <div class="button" onClick="location.href='/'">
          <span class="button__mask"></span>
          <span class="button__text">Back To Home</span>
          <span class="button__text button__text--bis">Back To Home</span>
        </div>
        <br>
    </div>
{% endblock %}

{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script>
        function clik(contact) {
            //contact = String(contact).replace(/\s+/g, '');
            //alert(contact);
            let whatsappchat = "http://wa.me/" + String(contact);
            Swal.fire({
                icon: 'warning',
                title: 'Redirect to WhatsApp chat?',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: `Go to WhatsApp`,
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    window.location = whatsappchat
                } else if (result.isDenied) {
                    //rahul what to add here
                }
            })
        }
    </script>
    <div class="row">
        {% for listing in listings %}
            <div class="card" style="background-image: url('static/img/foodlist.png'); height: 200px; margin-bottom: 20px;">
                <div class="card-img-overlay" style="margin: 1px;">
                    <h4 class="card-text">Mentor name: {{ listing[0] }}</h4>
                    <p class="card-text">Bio: {{ listing[1] }}</p>
                    <p class="card-text">Contact: {{ listing[2] }}</p>
                    <p class="card-text">Distance from you: {{ listing[3] }}</p>
                    <div class="placeorderbtn" onclick="clik({{ listing[2] }}); return false;">
                        <div class="button">
                            <span class="button__mask"></span>
                            <span class="button__text">Contact</span>
                            <span class="button__text button__text--bis">Contact</span>
                        </div>
                        <br>
                    </div>
                </div>
            </div>    


            <br><br>
        {% endfor %}
    </div>
{% endblock %}